@media screen and (max-width: 805px) {
  .header {
    flex-wrap: wrap;
    height: auto;
    .panel {
      .menu {
        height: auto;
        .menu-content {
          flex-wrap: wrap;
          div {
            width: 100%;
            text-align: center;
            padding: 1.3em 0;
          }
        }
      }
      .panel-top {
        display: none;
      }
    }
    .logo {
      width: 100%;
    }
  }

  .jumbotron {
    .jumbotron-menu {
      width: 100%;
    }
    .jumbotron-image {
      width: 100%;
    }
  }

  .brands {
    .brands-header {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .container-flex {
    .photo, .spec {
      width: 100%;
    }
  }

  .overview {
    .asside-contact, .specification {
      width: 100%;
    }
  }

  .tickers {
    div {
      width: 100%;
    }
  }

  .brandies {
    .brandies-image, .brandies-text {
      width: 100%;
    }
  }

  .boxes {
    div {
      width: 100%;
    }
  }

  .footer {
    div {
      width: 100%;
    }
  }
}