$border-color: #ebebeb;
$fade-color: #fafafa;

$btn-gray: #6B7683;
$btn-dark-gray: #555e69;
$btn-light-blue: #badfed;
$btn-blue: #027ebb;
$btn-dark-blue: #005985;

$font-gray: #666;

$solid-blue: #006eff;
$solid-light-blue: #3398ff;
$solid-fade-blue: #5b6e8c;
$solid-dark-blue: #0b3473;
$solid-black: #1a1b21;
$solid-green: #6ad969;
$solid-mint: #69F0AE;