$border-color: #ebebeb;

$line: #cfd8dc;

$zebra: #f2f2f2;

$fade-color: #f4f7f9;
$fade-black: #808080;
$steal-black: #22282b;

$btn-gray: #6B7683;
$btn-dark-gray: #555e69;
$btn-light-blue: #badfed;
$btn-blue: #027ebb;
$btn-dark-blue: #005985;

$font-gray: #666;
$font-fade: #b2b2b3;
$font-dark: #626b6f;
$font-off: #868b8e;

$solid-blue: #006eff;
$navy-blue: #4f5ed2;
$solid-light-blue: #3398ff;
$solid-fade-blue: #5b6e8c;
$solid-dark-blue: #0b3473;
$solid-black: #1a1b21;
$solid-footer: #22282b;
$solid-green: #6ad969;
$solid-mint: #69F0AE;

$price-color: #ed1c24;